#projectsPage {
    min-height: 100vh;
    /* border: red dashed 1px; */
    background: linear-gradient(#0e6e84, #36ada3);
}

.heading1 {
    font-size: 33;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #707070;
}

.shadow {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.zoom:hover {
    transform: scale(1.08);
    cursor: pointer;
}
