#social {
	background-color: black;
	height: 200px;
	position: sticky;
	bottom: 0;
	z-index: 0;
}

#headingSocialMedia {
	color: #36ada3;
}

#mediaLinks {
	height: 100px;
}

#mediaLinks * {
	color: gainsboro;
	margin: 10px;
}

#mediaLinks *:hover {
	color: white;
}
